{% extends 'core/base.html' %}{% load static %}
{% block title %}Signup{% endblock %}
{% block content %}
        <div class="fcc">
            <h1 class="text-center mb-2 mt-2">Sign Up</h1>
            {% if error %}
                <span class="text-danger mx-auto fw-bold">{{ error }}</span>
            {% endif %}
            <form action="" method="post" class="d-flex flex-column gap-2 mx-auto w-100" style="max-width: 300px">
                {% csrf_token %}
                <input class="input form-control" name="username" type="text" placeholder="username">
                <input class="input form-control" name="email" type="text" placeholder="email">
                <input class="input form-control" name="password" type="text" placeholder="password">
                <input class="input form-control" name="repeat_password" type="text" placeholder="repeat password">
                <button class="btn btn-secondary" type="submit">Next</button>
            </form>
        </div>
{% endblock %}